
.navbar{
    background-color: blue;
    border-color: blueviolet;
    border-style: solid;
    border-width: 8px;
    border-radius: 10px;
}
.navbar-text {
    color: white;
    padding: 20px;
    font-size: 15px;
    display: inline-block;
    font-family: Arial, sans-serif;
    text-decoration: none;
}
.phototext {
    display: flex;
    background-color:cornflowerblue;
    padding: 20px;
    margin-top: 5px;
    justify-content: space-between;
}
.dog-text {
    padding-left: 10px;
    font-size: 12px;
}
.recept {
    background-color:cornflowerblue;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
}
.nahoru {
    margin-top: 5px;
    background-color: blue;
    padding: 30px;
    text-align: center;  
}